/* fonts */
h1, h2, h3 {
    font-family: 'Crimson Text', serif;
  }

  h4, h5, h6, p {
    font-family: 'Work Sans', sans-serif;
  }

  h1 {
    font-size: 2em;
    color: #1f5858;
    margin: 10px;
    font-weight: 700;
    line-height: 1em;
  }
  h2 {
    font-size: 1.75em;
    color: #1f5858;
    margin: 10px;
    font-weight: 700;
    line-height: 1em;
  }
  h3 {
    font-size: 1.5em;
    color: #1f5858;
    margin: 10px;
    font-weight: 600;
  }
  h4 {
    font-size: 1.25em;
    color: #2d7e7e;
    margin: 10px;
    font-weight: 700;
  }
  h5 {
    font-size: 1.0em;
    color: #a0a0a0;
    margin: 10px;
    font-weight: 600;
  }

  h6 {
    font-size: 1.0em;
    color: #2d7e7e;
    margin: 10px;
    font-weight: 600;
  }

  p {
    font-size: 1em;
    color: #a5a5a5;
    margin: 10px;
    font-weight: 400;
  }

  .navLink a {
    margin-right: 40px;
    margin-top: 40px;
  }

  .navLink:active a,
  .navLink:hover a
  {
    border-bottom: 1.5px solid #c9eddc;
    margin-bottom: 35px;
    overflow: hidden;
  }

  .navLink:active a::after,
  .navLink:hover a::after {
    content: "";
    width: 100%;
    position: absolute;
    margin-bottom: -35px;
  }

  .navLink {
    display: flex;
    justify-content: center;
    align-items: auto;
  }

  #top-nav a {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #c9eddc;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .75em;
  }

  #top-nav a:last-of-type {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #154545;
    letter-spacing: 0em;
  }

  #footer-nav a {
    align-self: center;
    justify-self: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #c9eddc;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .7em;
  }

  #friends-container p {
    color: #1f5858
  }

  .friendEmail {
    color: white;
  }