/*
font-family: 'Crimson Text', serif; = 400,400i,600,600i,700,700i
font-family: 'Work Sans', sans-serif; = 200,300,400,500,600,700,800,900

/* Color Theme Swatches in Hex */
color {
  color: #d7dedc;
  color: #c9eddc;
  color: #a0b2a6;
  color: #5f7470;
  color: #3e8989;
  color: #1f5858;
}


/* begin page styling */

* {
  margin: 0;
  padding: 0;
}


#top-nav {
  width: 100%;
  background-color: #3e8989;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#logo-container {
  flex-grow: 1;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  /* margin-top: 15px; */
}

#logo-container > img {
  width: 85px;
  margin-left: 20px;
  margin-top: 7.5px;

}

#links-container {
  display: flex;
  align-content: flex-end;
  flex-grow: 4;
  justify-content: flex-end;
}


#page-container {
  display: flex;
  min-height: 1000px;
  background-color:rgb(230, 233, 236);
}

#friends-container {
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
  background-color: #d7dedc;
}

#primary-container {
  display: flex;
  flex-direction: row;
  flex-basis: 85%;
  flex-wrap: wrap;
  padding-right: 20px;
  /* border: 1px solid grey; */
}

/* begin nf-login-container */

#login-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40%;
  margin-top: 0%;
  border-bottom: 3px solid #3e8989;
  padding: 5%;
  text-align: center;
  width:40em;
  margin-left: 25em;
}

#login-container * {
  padding: 1%;
  margin-top: 1%
}

#login-container label {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  color: #a5a5a5;
  margin: 10px;
  margin-bottom: 0px;
  font-weight: 400;
}

#login-container a {
  font-family: 'Work Sans', sans-serif;
  font-size: .75em;
  text-decoration: none;
  color: #3e8989;
  margin: 10px;
  font-weight: 400;
}

#login-container input {
  color: rgb(147, 147, 147);
  background-color: transparent;
  border-style: none;
  border-bottom: 2px solid #c9eddc;
  width: 60%;
  align-self: center;
  margin-bottom: 30px;
  /* padding: 1em; */
}

#login-btn {
  align-self: center;
  margin-top: 8%;
  width: 40%;
  border: 2px solid #c9eddc;
  font-family: 'Work Sans', sans-serif;
  font-size: .75em;
  text-transform: uppercase;
  background-color: #c9eddc;
  color: #1f5858;

}

#register-btn {
  align-self: center;
  margin-top: 8%;
  width: 40%;
  border: 2px solid #c9eddc;
  font-family: 'Work Sans', sans-serif;
  font-size: .75em;
  text-transform: uppercase;
  background-color: #c9eddc;
  color: #1f5858;
}



/* end nf-login-container */

#news-container {
  display: flex;
  /* border: 1px solid grey; */
  flex: 1
  border: 1px solid red;
}

#events-container {
  display: flex;
  flex: 1;
  /* border: 1px solid grey; */
  height: 50%;
}

#footer-nav {
  display: flex;
  height: 100px;
  border-top: 3px solid #c9eddc;
  flex-shrink: 0;
  justify-content: space-evenly;
  align-content: center;
  background-color: #3e8989;
}


.event-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-color: white;
  margin: 0px 0px 20px 20px;

}

.event-card .event-image-container {
  overflow: hidden;
}
.event-card img{
  position: relative;
  width: 100%;
  overflow: hidden;
  
}

.event-image-container {
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  overflow: hidden;
  flex: 1;
}

.event-action-container {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.event-action-container i{
  margin-right: 10px;
  color: rgb(196, 196, 196);
}

.event-info-container {
  padding: 20px;
  flex: 1;
}

#new-event-btn {
  order: 0;
  width: 100%;
  flex-basis: 100%;
  margin: 20px 0px 20px 20px;
}


#event-form {
  display: flex;
  flex-direction: column;
  /* position: ; */
  width:40em;
  height:40em;
  margin-top: 10em; 
  margin-left: 25em; 
  background-color: white;
  padding: 20px;
  justify-content: center;
  border-bottom: 3px solid #3e8989;
}

#event-form > div, #event-form > h1{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
  align-self: center;
}

#event-form > div > label {
  margin-top: 0px;
  margin-left: -3px;
}

#event-form > h1{
  text-align: center;
}

#event-form input, #event-form textArea {
  color: rgb(147, 147, 147);
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #c9eddc;
  padding: 1em;
}

#event-form label {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  color: #a5a5a5;
  margin: 10px;
  font-weight: 400;
}

#event-form input[type="submit"] {
  background-color: #3e8989; 
  color: white;
  width: 50%;
  text-transform: uppercase;
  align-self: center;
  margin-top: 30px;
}

/* NEWS */


.news-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-color: white;
  margin: 0px 0px 20px 20px;

}

.news-card .news-image-container {
  overflow: hidden;
}
.news-card img{
  position: relative;
  width: 100%;
  overflow: hidden;
  
}

.news-image-container {
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  overflow: hidden;
  flex: 1;
}

.news-action-container {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.news-action-container i{
  margin-right: 10px;
  color: rgb(196, 196, 196);
}

.news-info-container {
  padding: 20px;
  flex: 2;
}

#new-news-btn {
  order: 0;
  width: 100%;
  flex-basis: 100%;
  margin: 20px 0px 20px 20px;
}


#news-form {
  display: flex;
  flex-direction: column;
  /* position: ; */
  width:40em;
  height:40em;
  margin-top: 10em; 
  margin-left: 25em; 
  background-color: white;
  padding: 20px;
  justify-content: center;
  border-bottom: 3px solid #3e8989;
}

#news-form > div, #news-form > h1{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
  align-self: center;
}

#news-form > div > label {
  margin-top: 0px;
  margin-left: -3px;
}

#news-form > h1{
  text-align: center;
}

#news-form input, #news-form textArea {
  color: rgb(147, 147, 147);
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #c9eddc;
  padding: 1em;
}

#news-form input[type="submit"] {
  background-color: #3e8989; 
  color: white;
  width: 50%;
  text-transform: uppercase;
  align-self: center;
  margin-top: 30px;
}

#news-form label {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  color: #a5a5a5;
  margin: 10px;
  font-weight: 400;
}

.hidden {
  display: none;
}