/*
font-family: 'Crimson Text', serif; = 400,400i,600,600i,700,700i
font-family: 'Work Sans', sans-serif; = 200,300,400,500,600,700,800,900

/* Color Theme Swatches in Hex */
color {
  color: #d7dedc;
  color: #c9eddc;
  color: #a0b2a6;
  color: #5f7470;
  color: #3e8989;
  color: #1f5858;
}


/* begin page styling */

* {
  margin: 0;
  padding: 0;
}


#top-nav {
  width: 100%;
  z-index: 2;
  background-color: #3e8989;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#logo-container {
  flex-grow: 1;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  /* margin-top: 15px; */
}

#logo-container > img {
  width: 85px;
  margin-left: 20px;
  margin-top: 7.5px;

}

#links-container {
  display: flex;
  align-content: flex-end;
  flex-grow: 4;
  justify-content: flex-end;
  overflow: hidden;
}


#page-container {
  display: flex;
  min-height: 1000px;
  background-color:rgb(230, 233, 236);
}

#friends-container {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  background-color: #d7dedc;
}

#primary-container {
  display: flex;
  flex-direction: row;
  flex-basis: 85%;
  flex-wrap: wrap;
  padding-right: 20px;
  /* border: 1px solid grey; */
}

/* begin nf-login-container */
#login-page-container {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  margin: auto;
}

#login-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40%;
  margin-top: 0%;
  border-bottom: 3px solid #3e8989;
  padding: 5%;
  text-align: center;
  width:40em;
}

#login-container * {
  padding: 1%;
}

#login-container label {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  color: #a5a5a5;
  margin: 10px;
  margin-bottom: 0px;
  font-weight: 400;
}

#login-container a {
  font-family: 'Work Sans', sans-serif;
  font-size: .75em;
  text-decoration: none;
  color: #3e8989;
  margin: 10px;
  font-weight: 400;
}

#login-container input {
  color: rgb(147, 147, 147);
  background-color: transparent;
  border-style: none;
  border-bottom: 2px solid #c9eddc;
  width: 60%;
  align-self: center;
  margin-bottom: 30px;
  /* padding: 1em; */
}

#login-btn {
  align-self: center;
  margin-top: 8%;
  width: 40%;
  border: 2px solid #c9eddc;
  font-family: 'Work Sans', sans-serif;
  font-size: .75em;
  text-transform: uppercase;
  background-color: #c9eddc;
  color: #1f5858;

}

#register-btn {
  align-self: center;
  margin-top: 8%;
  width: 40%;
  border: 2px solid #c9eddc;
  font-family: 'Work Sans', sans-serif;
  font-size: .75em;
  text-transform: uppercase;
  background-color: #c9eddc;
  color: #1f5858;
}



/* end nf-login-container */

/* begin nf-friends-container */

#friends-container button {
  flex-basis: 40%;
  background-color: #3e8989;
  border-radius: 8px;
  color: white;
  font-size: .5em;
  padding: 2% 4%;

  margin-left: 2%
}

.find-friend {
  display: flex;
  flex-direction: row;
  margin-bottom: 4%
}

#searchFriends {
  margin-left:4%;
  width: 50%;
}


/* end nf-friends-container */

#news-container {
  display: flex;
  flex: 1;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  height: 600px;
}

#events-container {
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 50%;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

#footer-nav {
  display: flex;
  height: 100px;
  border-top: 3px solid #c9eddc;
  flex-shrink: 0;
  justify-content: space-evenly;
  align-content: center;
  background-color: #3e8989;
}


.event-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-color: white;
  margin: 0px 0px 20px 20px;
  border-bottom: 3px solid #3e8989;
}




.event-card .event-image-container {
  overflow: hidden;
}
.event-card img{
  position: relative;
  width: 100%;
  overflow: hidden;

}

.event-image-container {
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  overflow: hidden;
  flex: 1;
}

.event-action-container {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.event-action-container i{
  margin-right: 10px;
  color: rgb(196, 196, 196);
}

.event-info-container {
  padding: 20px;
  flex: 1;
}

#new-event-btn {
  order: 0;
  width: 100%;
  flex-basis: 100%;
  margin: 20px 0px 20px 20px;
}


#event-form {
  display: flex;
  flex-direction: column;
  /* position: ; */
  width:40em;
  height:40em;
  margin-top: 10em;
  margin-left: 25em;
  background-color: white;
  padding: 20px;
  justify-content: center;
  border-bottom: 3px solid #3e8989;
}

#event-form > div, #event-form > h1{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
  align-self: center;
}

#event-form > div > label {
  margin-top: 0px;
  margin-left: -3px;
}

#event-form > h1{
  text-align: center;
}

#event-form input, #event-form textArea {
  color: rgb(147, 147, 147);
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #c9eddc;
  padding: 1em;
}

#event-form label {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  color: #a5a5a5;
  margin: 10px;
  font-weight: 400;
}

#event-form input[type="submit"] {
  background-color: #3e8989; 
  color: white;
  width: 50%;
  text-transform: uppercase;
  align-self: center;
  margin-top: 30px;
}

/* NEWS */


.news-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-color: white;
  margin: 0px 0px 20px 20px;
  border-bottom: 3px solid #3e8989;

}

.news-card .news-image-container {
  overflow: hidden;
}
.news-card img{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.news-image-container {
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
  overflow: hidden;
  flex: 1;
}

.news-action-container {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.news-action-container i{
  margin-right: 10px;
  color: rgb(196, 196, 196);
}

.news-info-container {
  padding: 20px;
  flex: 2;
}

#new-news-btn {
  order: 0;
  width: 100%;
  flex-basis: 100%;
  margin: 20px 0px 20px 20px;
}


#news-form {
  display: flex;
  flex-direction: column;
  /* position: ; */
  width:40em;
  height:40em;
  margin-top: 10em;
  margin-left: 25em;
  background-color: white;
  padding: 20px;
  justify-content: center;
  border-bottom: 3px solid #3e8989;
}

#news-form > div, #news-form > h1{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
  align-self: center;
}

#news-form > div > label {
  margin-top: 0px;
  margin-left: -3px;
}

#news-form > h1{
  text-align: center;
}

#news-form input, #news-form textArea {
  color: rgb(147, 147, 147);
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #c9eddc;
  padding: 1em;
}

#news-form input[type="submit"] {
  background-color: #3e8989; 
  color: white;
  width: 50%;
  text-transform: uppercase;
  align-self: center;
  margin-top: 30px;
}

#news-form label {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  color: #a5a5a5;
  margin: 10px;
  font-weight: 400;
}

/* Main Landing Page */

.view-news-btn, .view-event-btn {
  margin: 10px;
  align-self: center;
  justify-self: center;
}

.friends-card {
  height: 350px;
  margin: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.friends-img {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: contain;
  flex: 6;
}

.friends p  {
  display: block;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



.modal {
  display: none;
  position: absolute;
  z-index: 1;
  margin-left: -10px;
  top: 100px;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fefefe;
  height: 800px;
  width: 800px;
  left: 25%;
  top: 150px;
  margin-left: 175px;
  padding: 0;
  border: 1px solid #888;
  animation-name: animatetop;
  animation-duration: 0.5s;
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top: 150px; opacity:1}
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

#primary-container > [class="event-card"]:nth-child(2) {
  border-bottom: 3px solid #3DC8D4;
}

#primary-container > [class="event-card"]:nth-child(2) h2 {
  font-size: 2.25em;
  font-weight: 700i;
}

/* Messages */
#message-container {
  justify-self: center;
  margin: auto;
  display: flex;
  align-content: center;
  flex-direction: column;
}

#message-container h1{
  justify-self: center;
  margin: auto;
  margin-bottom: 20px;
}
.message-card {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  width: 600px;
  flex-basis: 100%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

#new-message {
  justify-self: center;
  margin: auto;
  padding: 10px;
  padding-bottom: 20px;
  width: 75%;
  flex-basis: 100%;
}

#new-message input {
  justify-self: center;
  margin: auto;
  padding: 10px;
  padding-bottom: 20px;
  width: 100%;
  flex-basis: 100%;
}

#new-msg-submit-btn, #edited-msg-submission-btn {
  align-self: center;
  margin: auto;
  padding: 10px;
  border: 2px solid #c9eddc;
  font-family: 'Work Sans', sans-serif;
  font-size: .75em;
  text-transform: uppercase;
  background-color: #c9eddc;
  color: #1f5858;
}

#message-container h1 {
  margin-top: 30px;
}
.error {
  color: red;
}

/* TASKS */

#tasks-container {
  width: 80%;
  margin: 0 auto;
}

/* #tasks-form {

} */

#form-elements {
  text-align: center;
  padding: 10px;
  /* border: 1px solid red; */
}

#form-elements > fieldset {
  border: none;
}

.task-div {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

.task-div:nth-child(even) {
  background-color: #d7dedc;
}

.task-label {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.task-item .task-item-link {
  text-decoration: none;
  color: #2d7e7e;
}

.task-label .line-through {
  flex-grow: 2;
  margin-left: 0;
}

.date-span {
  font-size: .7em;
  font-weight: 400;
  margin-left: 10px;
}

.remove-btn,
.complete-check {
  height: 20px;
  width: 20px;
}

.remove-btn {
  margin-left: 10px;
}

.complete-check:checked + .line-through > a {
  color: gray;
  font-weight: 400;
  text-decoration: line-through;
}

.complete-check:checked + .line-through > span {
  display: none;
}

#cancel-edit-btn {
  /* padding:  */
}
/* END TASK PAGE STYLES */

#form-elements {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#task-list-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#form-elements > fieldset {
  width: 100%;
  background-color: white;
  height: 200px;
}

#form-elements > fieldset > input {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  background-color: transparent;
  color: rgb(147, 147, 147);
  background-color: transparent;
  border-style: none;
  border-bottom: 2px solid #2d7e7e;
  align-self: center;
  margin-bottom: 30px;
  margin-right: 20px;
  width: 400px;
  padding: 5px;
}

#form-elements > fieldset > label {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #2d7e7e;
}

#form-elements > fieldset > [id=save-task-btn] {
  align-self: center;
  width: 100px;
  margin-top: 8%;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  font-size: .75em;
  text-transform: uppercase;
  background-color: #2d7e7e;
  color: #c9eddc;
}