* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

#top-nav {
  width: 100%;
  border: 1px solid red;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo-container {
  flex-grow: 1;
  border: 1px solid red;
}

#links-container {
  flex-grow: 4;
  border: 1px solid blue;
  align-content: center;
}

#page-container {
  border: 1px solid purple;
  display: flex;
  min-height: 1000px;
}

#friends-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid orange;
}

#primary-container {
  display: flex;
  flex-direction: column;
  flex-grow: 8;
  border: 1px solid grey;
}

#news-container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  height: 50%;
}

#events-container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  height: 50%;
}

#footer-nav {
  height: 100px;
  border: 1px solid pink;
  flex-shrink: 0;
  justify-content: center;
}
